<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartBox.Console.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SmartBox.Console.Service.Properties.Settings>
            <setting name="SmartBox_Console_Service_ApplicationCenterWS_WebService"
                serializeAs="String">
                <value>http://sbws/WebService.asmx</value>
            </setting>
            <setting name="SmartBox_Console_Service_FileTransferService_FileTransferService"
                serializeAs="String">
                <value>http://localhost:4979/FileTransferService.asmx</value>
            </setting>
            <setting name="SmartBox_Console_Service_msg_MsgService" serializeAs="String">
                <value>http://msgservice.huangpuqu.sh.cn/WebService/MsgService.asmx</value>
            </setting>
        </SmartBox.Console.Service.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IManagerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.50.252:8733/Beyondbit.SmartBox.Server.Service/ManagerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerService"
                contract="ServiceReference1.IManagerService" name="BasicHttpBinding_IManagerService" />
        </client>
    </system.serviceModel>
</configuration>