<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="MsgClient" type="Beyondbit.Msg.ReceiveService.Client.Common.MsgClientSection,Beyondbit.Msg.ReceiveService.Client" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="BUAClient" type="Beyondbit.BUA.Client.BUAClientConfig,Beyondbit.BUA.Client" />
    <section name="PublishConfig" type="SmartBox.Console.Common.Configuration.IOSConfiguration,SmartBox.Console.Common" />
    <section name="BbitMvcConfig" type="Beyondbit.MVC.BbitMvcConfig,Beyondbit.MVC" />
    <section name="CryptoConfig" type="Beyondbit.Cryptography.CryptoConfig,Beyondbit.Cryptography"/>
    <section name="Beyondbit.Framework.Web" type="Beyondbit.Framework.Common.Config.WebConfigHandler,Beyondbit.Framework" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SmartBox.Console.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <CryptoConfig>
    <!--短信内容加密配置 None | BeyondbitCrypto-->
    <CryptoType name="BeyondbitCrypto"/>
    <CryptoList>
      <!--短信号码加密配置-->
      <add name="MobilePhone" mode="None"/>
    </CryptoList>
  </CryptoConfig>

  <log4net>
    <logger name="SmartBox.Console.Common.Log4NetHelper">
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </logger>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <LockingModel type="log4net.Appender.FileAppender+MinimalLock, log4net" />
      <datePattern value="yyyyMMdd-HH:mm:ss" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="" />
        <param name="ConversionPattern" value="%n异常时间: %d%n记录器: %c%n异常信息: %m%n异常位置:[%t] %-5p [%l]%n" />
        <param name="Footer" value="" />
      </layout>
    </appender>
  </log4net>
  <BbitMvcConfig>
    <!--配置某类,该类必须实现Beyondbit.MVC.IUserServiceFactory -->
    <UserServiceFactory type="SmartBox.Console.Bo.UserServiceFactory,SmartBox.Console.Bo" />
    <!--运行时,如果mode为debug时,获取用户总是为userid,否则获取当前登录用户Normal-->
    <Runtime mode="Debug" userid="xiajun" />
  </BbitMvcConfig>
  <Beyondbit.Framework.Web />
  <!--额外部署位置-->
  <PublishConfig>
    <Publish>
      <add clientType="phone/ios" path="D:\公司\互联网软件\研发中心Git\SmartBoxConsoleTest\Download\SmartBox.ipa" url="http://smartboxupdate.rdc.com/test/SmartBox.plist" />
      <add clientType="phone/android" path="D:\公司\互联网软件\研发中心Git\SmartBoxConsoleTest\Download\SmartBox.apk" url="" />
      <add clientType="pad/android" path="D:\公司\互联网软件\研发中心Git\SmartBoxConsoleTest\Downloadt\SmartBoxHD.apk" url="" />
      <!-- 支持两个地址,用$分隔,第一个是内网存储地址,第二个是外网存储地址,如果不包含$表示只有一个内网存储地址 -->
      <add clientType="pad/ios" path="D:\公司\互联网软件\研发中心Git\SmartBoxConsoleTest\Download\SmartBoxHD.ipa" url="http://smartboxupdate.rdc.com/test/files/SmartBoxHD.plist" />
    </Publish>
    <!--http://192.168.200.211:801/deploy.aspx$c:\server\fabubao\SmartBoxHD.ipa-->
  </PublishConfig>

  <MsgClient>
    <!--消息传输策略 1:WebService 2:消息队列 默认为1-->
    <MessageTransfersStrategy value="1" />
    <!--以下当消息传输策略为WebService时，需要配置-->
    <!--应用系统标识-->
    <ApplicationCode value="Smartbox" />
    <!--应用系统密码-->
    <ApplicationPassword value="123456" />
    <!--用户帐号-->
    <UserUid value="__sao__" />
    <!--用户密码-->
    <UserPassword value="App1234" />
    <!--服务地址-->
    <!--<ServiceUrl value="http://msgservice.zw.hp.sh/WebService/MsgService.asmx"/>-->
    <ServiceUrl value="http://msgservice.huangpuqu.sh.cn/WebService/MsgService.asmx" />
    <!--以下当消息传输策略为消息队列时，需要配置-->
    <QueuePath value=".\private$\msgmq" />
    <!--服务器类型 .net:DotNet-->
    <ServerType value="DotNet" />
  </MsgClient>

  <appSettings>
    <!--true/false 验证的密码是否加密（对于默认权限实现类有效）-->
    <add key="PwdEncrypted" value="true"/>
    
    <!--
    UserMenuOld原来的菜单实现 
    UserMenuNew 新的菜单实现（带权限控制）
    如果UserMenu配置节不存在则相当于UserMenuNew
    -->
    <add key="UserMenu" value="UserMenuNew" />
    <!--bua数据库名-->
    <add key="bua_db_name" value="bua" />

    <!--消息发送帐户,用于设备审核拒绝时发送短线-->
    <add key="msg_sender_account" value="lianyong" />

    <add key="IIS" value="7" />
    <!--模拟登录的账号-->
    <add key="DebugUserID" value="wangsm" />
    <add key="filePath" value="MainSystem" />
    <!--存放压缩ZIP文件的地址-->
    <add key="SaveZipPath" value="Zip" />
    <add key="upListName" value="manifest.xml" />
    <add key="extension" value="bb!" />
    <add key="pubFolder" value="D:\公司\互联网软件\研发中心Git\SmartBoxConsoleTest\SmartBoxUpdate" />
    <add key="pubUrl" value="http://smartboxupdate.rdc.com/" />
    <add key="iOSDownloadUrl" value="" />
    <add key="SSO_ExcludePath" value="Themes,Javascripts,Images,Reg,Loginless" />
    <add key="bua_sys_account" value="sys" />
    <add key="packUploadFolder" value="D:\公司\互联网软件\研发中心Git\SmartBoxConsoleTest\files\" />
    <!--<add key="outpackUploadFolder" value="D:\互联网软件\研发中心Git\SmartBoxConsoleTest\outPackage"/>-->
    <add key="outpackUploadFolder" value="PackageExt" />
    <add key="FuncIconFolder" value="Images\FuncImages" />
    <add key="OutWebHost" value="http://192.168.200.142" />
    <add key="packUrl" value="http://smartboxupdate.rdc.com/files/" />
    <!-- debug_mode 可以上传重复的包，以方便测试 -->
    <add key="debug_mode" value="true" />
    <!--文件发布网站地址-->
    <!--<add key="deployAddress" value="http://192.168.200.142:18015/deploy.aspx"/>
    <add key="deployPath" value="C:\TempDir\"/>-->
    <!-- http://192.168.200.142:81/WebService.asmx -->

    <!--设备审核通过是否发送短信息-->
    <add key="send_msg_after_device_user_auth" value="true" />
    <add key="send_msg_after_device_user_auth_content" value="设备审核通过，您已经可以使用移动政务平台了！" />

    <add key="send_refuse_msg_after_device_user_auth" value="true" />
    <add key="send_refuse_msg_after_device_user_auth_content" value="您的黄浦移动评审使用申请不通过。" />
    <!--设备挂失是否发送短信息-->
    <add key="send_msg_after_device_lost" value="true" />
    <add key="send_msg_after_device_lost_content" value="您的移动设备已经在黄浦移动办公平台中挂失成功。" />
    <!--设备取消挂失是否发送短信息-->
    <add key="send_msg_after_device_unlost" value="true" />
    <!--设备解除绑定是否发送短信息-->
    <add key="send_msg_after_device_unbind" value="true" />

    <!--单点配置开始-->
    <!-- 不使用单点登陆时，需要注释SSO_SignOnUrl节点 -->
    <!--<add key="SSO_SignOnUrl" value="http://sso.longhua.com.cn:8001/SignOn.aspx" />-->
    <add key="SSO_SignOutUrl" value="http://sso.longhua.com.cn:8001/SignOut.aspx" />
    <!--是否对Web Service的信息启用签名验证-->
    <add key="SSO_IsUsingSign" value="false" />
    <!--保护资源的网页，如果多个用“，”分开-->
    <add key="SSO_Exclude" value=".aspx,#home.aspx" />
    <!--<add key="SSO_Exclude" value=".aspx,.mvc,#Verify.aspx,#Index.aspx,#Core/Skin/Common/ValidateCode.aspx,#OA/Document/UI/Document/NewProject.aspx,#/OA/FormEngine/UI/FinalDoc/saveFile.aspx" />-->
    <add key="SSO_SessionUserName" value="SessionName" />
    <add key="SSO_SessionTicketName" value="SessionTicket" />
    <add key="SSO_Service" value="http://sso.longhua.com.cn:8001/Service/WebService.asmx" />
    <!--单点配置结束-->
  </appSettings>
  <connectionStrings>
    <add name="BeyondbitPush" connectionString="Data Source=192.168.200.141;Initial Catalog=BeyondbitPush;User ID=sa;Pwd=App1234" providerName="System.Data.SqlClient" />
    <add name="mainDB" connectionString="Data Source=.;Uid=sa;Pwd=App1234;Initial Catalog=SmartBox" />
    <add name="statisticDB" connectionString="Data Source=.;Uid=sa;Pwd=App1234;Initial Catalog=SmartBoxApp" />
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="36000" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="false " />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->

    <authentication mode="Forms">
      <!-- 使用单点登陆时，需要注释forms loginUrl节点 -->
      <forms loginUrl="~/Account/Logon" timeout="20" name="ConsoleUserName" />
    </authentication>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" validateRequest="false" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    </httpHandlers>
    <httpModules>
      <add name="SSOClient" type="Beyondbit.SingleSignOn.ClientForAspNet20.SSOClient" />
    </httpModules>
    <identity impersonate="false" />
  </system.web>
  <!--设置授权用户可访问所有路径-->
  <location path="">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--开放登录页样式给所有用户-->
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--   <system.web.extensions/>
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->


  <BUAClient>
		<ServiceFactory></ServiceFactory>
		<ApplicationCode>SmartBox</ApplicationCode>
		<ApplicationPassword>123456</ApplicationPassword>
		<UserUid>__sao__</UserUid>
		<UserPassword>App1234</UserPassword>
		<ServerType>DotNet</ServerType>
		<ServiceUrl>http://sao.rdc.com/SoaService.asmx</ServiceUrl>
	</BUAClient>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SSOClient" type="Beyondbit.SingleSignOn.ClientForAspNet20.SSOClient" />
    </modules>
    <handlers>
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    </handlers>
    <staticContent>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICommandSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileTransSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IManagerService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.200.142:6066/Beyondbit.TaskService/CommandSvc/EPASPDotNet" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommandSvc" contract="ICommandSvc" name="WSHttpBinding_ICommandSvc">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.200.142:6066/Beyondbit.TaskService/FileTransSvc/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransSvc" contract="IFileTransSvc" name="BasicHttpBinding_IFileTransSvc" />
      <endpoint address="http://192.168.50.252:8733/Beyondbit.SmartBox.Server.Service/ManagerService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerService" contract="ServiceReference1.IManagerService" name="BasicHttpBinding_IManagerService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <SmartBox.Console.Service.Properties.Settings>
      <setting name="SmartBox_Console_Service_ApplicationCenterWS_WebService" serializeAs="String">
        <value>http://sbws/WebService.asmx</value>
      </setting>
    </SmartBox.Console.Service.Properties.Settings>
  </applicationSettings>

</configuration>