@{
    ViewBag.Title = "V";
    Layout = null;
}
<html>
    <head>
    @*<meta name="viewport" content="width=device-width" />*@
        <script src="../../Scripts/jquery-1.10.2.min.js"></script>
        <script src="../../Scripts/kendo.all.min.js" type="text/javascript"></script>

        <script src="../../Scripts/kendo.all.min.js"></script>
        @*<link href="../../Content/kendo.common.min.css" rel="stylesheet" />
        <link href="../../Content/kendo.rtl.min.css" rel="stylesheet">
        <link href="../../Content/kendo.default.min.css" rel="stylesheet">
        <link href="../../Content/kendo.mobile.all.min.css" rel="stylesheet" />*@
    
        

        @Html.Partial("_StyleMLPartial")

        <script type="text/javascript">
            var clientType = '全部';
            $(document).ready(function () {
                $("#r1 li:first-child").addClass("focus");
                listViewDataBound(1);
                //alert(document.documentElement.clientWidth);
            });

            function listViewDataBound(_page) {
                var pageSize = 3;
                $.ajax({
                    type: "post",
                    dataType: "json",
                    //contentType: "application/json; charset=utf-8",
                    url: "@Url.Content("~/home/GetMobileListItems")",
                  data: {
                      page: _page,
                      pageSize: pageSize,
                      clientType: _clientType,
                      cateCode:''
                  },
                  success: function (json) {
                    //var max = i + pageSize;
                    $('ul#listView').empty();

                    var wrapperTemplate = $('#wrapper').html();
                    $('ul#listView').append(wrapperTemplate);
                    for (var i = 0; i < json.items.length; i++) {
                        var o = json.items[i];
                        var template = $('#template').html();
                        template = template.replace('#: id #', o.id);
                        template = template.replace('#: id #', o.id);
                        template = template.replace('#: appName #', o.appName);
                        template = template.replace('#: appVersion #', o.appVersion);
                        template = template.replace('#: appCate #', o.appCate);
                        template = template.replace('#: unit #', o.unit);
                        template = template.replace('#: appDate #', o.appDate);
                        template = template.replace('#: downloadUrl #', o.downloadUrl);
                        template = template.replace('#: pe_pictureurl #', o.pictureurl);
                        var s = '安装';
                        if (o.pe_clienttype.toLowerCase() == "web")
                        {
                            s = '打开';
                        }
                        template = template.replace('#: acn #', s);
                        $('ul#listView').append(template);
                    }
                    total_page = json.page_count;
                    total_records = json.record_count;
                    if (json === undefined || json.items.length == 0) {
                        var noRecordTemplate = $('#noRecordTemplate').html();
                        $('ul#listView').append(noRecordTemplate);
                    }

                    var pageTemplate = $('#pageTemplate').html();
                    pageTemplate = pageTemplate.replace('#: page_count #', json.page_count);
                    pageTemplate = pageTemplate.replace('#: record_count #', json.record_count);
                    pageTemplate = pageTemplate.replace('#: page #', page);
                    $('ul#listView').append(pageTemplate);


                      //

                  }, failure: function (json) {
                      //showMessage(json.d, function () { window.close(); });
                  }, error: function (xhr, status) {
                      //showMessage("Sorry, there was a problem!", function () { window.close(); });
                  },
              });
            }

//            function downloadClick(e) {
//                var url = $(e.target).attr('downloadUrl');
//                $(e.target).next().attr('href', url)[0].click();
//            }
            var page = 1;
            var total_page = 0;
            var total_records = 0;
            var _clientType = 'all';
            function first_click() {
                if (page > 1)
                    page = 1;
                listViewDataBound(page);
            }
            function prev_click() {
                if (page > 1)
                    --page;
                listViewDataBound(page);
            }
            function next_click() {
                if (page < total_page)
                    ++page;
                listViewDataBound(page);
            }
            function last_click() {
                if (page < total_page)
                    page = total_page;
                listViewDataBound(page);
            }
            var _last_client_type = '';
            function tap(act) {
                _clientType = act;
                if (act != _last_client_type)
                    page = 1;
                listViewDataBound(page);
                $("#r1 li").removeClass("focus");
                $("#r1 li[id='" + act + "']").addClass("focus");
                _last_client_type = act;
                //$('#listview li').not('first-child').remove();
            }
        </script>
    </head>
    <body>
    @*<!--ul id="ulCategory">
        <li>视频软件</li>
        <li>聊天工具</li>
        <li>游戏娱乐</li>
        <li>杀毒软件</li>
        <li>办公软件</li>
        <li>网银股票</li>
        <li>阅读翻译</li>
        <li>视频软件</li>
    </ul-->*@
    <div id="template" style="display:none;">
          <li class="row">
            <div class="rowdiv">
                <div class="row_l"><div><a href="@Url.Content("~/Home/MDetail?pe_id=")#: id #"><img style="" src="#: pe_pictureurl #" /></a></div></div>
                <div class="row_c">
                    <div class="row_c_row"><span class="title"><a href="@Url.Content("~/Home/MDetail?pe_id=")#: id #">#: appName #</a></span> <span class="version">（#: appVersion #）</span></div>
                    <div class="row_c_row">#: appCate #</div>
                    <div class="row_c_row">#: unit #/#: appDate #</div>
                </div>
                <div class="row_r">
                        <a href="#: downloadUrl #"><div class="button">#: acn #</div></a>
                </div>
            </div>
        </li>
        </div>

        <div id="noRecordTemplate" style="display:none;">
            <li class="row">
                <div class="norecord">
                    没有符合条件的数据！
                </div>
            </li>
        </div>

        <div id="pageTemplate" style="display:none;">
            <li class="row">
                <div id="page_row">
                    <div id="page_info">
                        共#: page_count #页，#: record_count #条记录，当前显示第#: page #页！
                    </div>
                    <div id="page">
                        <a onclick="first_click();"><div id="first_page">首页</div></a><a onclick="prev_click();"><div id="prev_page">上一页</div></a><a onclick="next_click();"><div id="next_page">下一页</div></a><a onclick="last_click();"><div id="last_page">尾页</div></a>
                    </div>
                </div>
            </li>
        </div>

        <div id="wrapper" style="display:none;">
    
    <li class="row">
            <ul id="r1">
                <li id="all"><a onclick="tap('all');"><div>全部</div></a></li>
                <li id="tj"><a onclick="tap('tj');"><div>推荐</div></a></li>
                <li id="zx"><a onclick="tap('zx');"><div>最新</div></a></li>
                <li id="bb"><a onclick="tap('bb');"><div>必备</div></a></li>
                <li id="sc"><a onclick="tap('sc');"><div>收藏</div></a></li>
                <li id="fl"><a onclick="tap('fl');"><div>分类</div></a></li>
                <li id="qyy"><a onclick="tap('qyy');"><div>轻应用</div></a></li>
            </ul>
</li>
        </div>
        
        
        <div>
        <ul id="listView">
        </ul>
        </div>

    </body>
</html>

