@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MLst</title>
    @Html.Partial("_StyleMLstPartial")
</head>
<body>
    <div>
        
    </div>
</body>
</html>
