<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BUAClient" type="Beyondbit.BUA.Client.BUAClientConfig,Beyondbit.BUA.Client" />
    <!--<section name="PublishConfig" type="SmartBox.Console.Common.Configuration.IOSConfiguration,SmartBox.Console.Common" />
    <section name="BbitMvcConfig" type="Beyondbit.MVC.BbitMvcConfig,Beyondbit.MVC" />-->
    <section name="Beyondbit.Framework.Web" type="Beyondbit.Framework.Common.Config.WebConfigHandler,Beyondbit.Framework" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings>
    <add name="BeyondbitPush" connectionString="Data Source=192.168.200.141;Initial Catalog=BeyondbitPush;User ID=sa;Pwd=App1234" providerName="System.Data.SqlClient" />
    <add name="mainDB" connectionString="Data Source=192.168.200.141;Uid=sa;Pwd=App1234;Initial Catalog=SmartBox" />
    <add name="statisticDB" connectionString="Data Source=192.168.200.141;Uid=sa;Pwd=App1234;Initial Catalog=SmartBoxApp" />

    <!--<add name="BeyondbitPush" connectionString="Data Source=192.168.50.252;Initial Catalog=BeyondbitPush;User ID=sa;Pwd=App1234" providerName="System.Data.SqlClient" />
    <add name="mainDB" connectionString="Data Source=192.168.50.252;Uid=sa;Pwd=App1234;Initial Catalog=SmartBox" />
    <add name="statisticDB" connectionString="Data Source=192.168.50.252;Uid=sa;Pwd=App1234;Initial Catalog=SmartBoxApp" />-->

    <!--<add name="BeyondbitPush" connectionString="Data Source=database.pudong.sh;Initial Catalog=BeyondbitPush;User ID=sa;Pwd=123456" providerName="System.Data.SqlClient" />
    <add name="mainDB" connectionString="Data Source=database.pudong.sh;Uid=sa;Pwd=123456;Initial Catalog=SmartBox" />
    <add name="statisticDB" connectionString="Data Source=database.pudong.sh;Uid=sa;Pwd=123456;Initial Catalog=SmartBoxApp" />-->
  </connectionStrings>

  <appSettings>
    <add key="packUploadFolder" value="C:\SmartBox.Console\SmartBox.Console.Web" />
    <add key="ApplicationCenterWs" value="http://sbws/WebService.asmx" />
    <add key="bua_org_code_root" value="region" />
  </appSettings>
  <Beyondbit.Framework.Web>
    <DeploymentObject></DeploymentObject>
    <Mode>Local</Mode>
      
  </Beyondbit.Framework.Web>
  <log4net>
    <logger name="SmartBox.Console.Common.Log4NetHelper">
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">

      <param name="File" value="log\log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="MaximumFileSize" value="5MB" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
      <param name="RollingStyle" value="Composite" />
      <encoding value="gbk" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%r] [%t] %-5p %c  - %m%n%n" />
      </layout>
    </appender>
  </log4net>
    
  <!--<Beyondbit.Framework.Web>
    --><!--全局错误页面--><!--
    <GlobleErrorDefaultPage path="Error.aspx"/>
    --><!--分布式部署方式--><!--
    <Deployment mode="Local" protocal="Tcp" port="8086"/>
    <Nodes>
      <Node name="ssy" ip="192.168.6.195"/>
    </Nodes>
    --><!--请求处理--><!--
    <RequestHandlers>
      --><!--<RquestHandler name="MyRequestHandler" assemblyName="Beyondbit.LWBBS.Backend.Common" typeName="Beyondbit.LWBBS.Backend.Common.MyRequestHandler"/>--><!--
    </RequestHandlers>
    --><!--Web 异常处理 --><!--
    --><!--WebExceptionHandler name="MyExceptionHandler" assemblyName="Beyondbit.LWBBS.Backend.Common" typeName="Beyondbit.LWBBS.Backend.Common.MyExceptionHandler"/--><!--
    <WebExceptionHandlers>
      --><!--<WebExceptionHandler name="WebExceptionHandler" assemblyName="Beyondbit.LWBBS.Backend.Common" typeName="Beyondbit.LWBBS.Backend.Common.Handler.WebExceptionHandler"/>--><!--
    </WebExceptionHandlers>
  </Beyondbit.Framework.Web>-->

  <BUAClient>
    <ServiceFactory />
    <ApplicationCode>smartbox</ApplicationCode>
    <ApplicationPassword>123456</ApplicationPassword>
    <UserUid>sys</UserUid>
    <UserPassword>App1234</UserPassword>
    <ServerType>DotNet</ServerType>
    <ServiceUrl>http://sao.pudong.sh/SoaService.asmx</ServiceUrl>
  </BUAClient>

  <!--<BUAClient>
    <ServiceFactory />
    <ApplicationCode>smartbox</ApplicationCode>
    <ApplicationPassword>123456</ApplicationPassword>
    <UserUid>__sao__</UserUid>
    <UserPassword>App1234</UserPassword>
    <ServerType>DotNet</ServerType>
    <ServiceUrl>http://soa.longhua.com.cn/BUA/SoaService.asmx</ServiceUrl>
  </BUAClient>-->

  <!--<PublishConfig>
    <Publish>
      <add clientType="Phone/iOS" path="C:\rdc\smartbox\SmartBoxUpdate\test\SmartBox.ipa" url="http://smartboxupdate.rdc.com/test/SmartBox.plist" />
      --><!--add clientType="Pad/iOS" path="C:\rdc\smartbox\SmartBoxUpdate\test\SmartBoxHD.ipa" url="http://smartboxupdate.rdc.com/test/SmartBoxHD.plist" /--><!--
      <add clientType="Phone/android" path="C:\rdc\smartbox\SmartBoxUpdate\test\SmartBoxHD.ipa" url="" />
      <add clientType="Pad/android" path="C:\rdc\smartbox\SmartBoxUpdate\test\SmartBoxHD.ipa" url="" />
      <add clientType="Pad/iOS" path="http://192.168.200.211:801/deploy.aspx$c:\server\fabubao\SmartBoxHD.ipa" url="http://smartboxupdate.rdc.com/test/files/SmartBoxHD.plist" />
    </Publish>
  </PublishConfig>-->

  <!--<BbitMvcConfig>
    --><!--配置某类,该类必须实现Beyondbit.MVC.IUserServiceFactory --><!--
    <UserServiceFactory type="SmartBox.Console.Bo.UserServiceFactory,SmartBox.Console.Bo" />
    --><!--运行时,如果mode为debug时,获取用户总是为userid,否则获取当前登录用户Normal--><!--
    <Runtime mode="Debug" userid="xiajun" />
  </BbitMvcConfig>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
