<div id="r2">
    <div class="left">
        <div id="log" ></div>
    </div>
    <div class="right">
        <input class="keyword" id="tbKeyword" /><input class="btn" id="btnSearch" type="button" value="应用检索" />
    </div>
</div>
<div id="r3">
    <div id="r3_c">
        <div id="home">首页</div>
        <div id="adphone">Andriod手机</div>
        <div id="adpad">Andriod平板</div>
        <div id="iphone">iPhone</div>
        <div id="ipad">iPad</div>
        <div id="web">轻应用</div>
    </div>
</div>