<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<PluginInfo>
  <BaseInfo>
    <CompanyName>上海互联网软件有限公司</CompanyName>
    <CompanyLinkman>联系人A</CompanyLinkman>
    <CompanyTel>021000000000 </CompanyTel>
    <CompanyHomePage>www.g.cn  </CompanyHomePage>
  </BaseInfo>
  <Plugins>
    <Plugin>    
      <Name>应用系统列表</Name>
      <PluginCode>PluginCodeA</PluginCode>
      <DirectoryName>test1Code</DirectoryName>
      <PluginCateCode>BackgroundServicePlugin</PluginCateCode>
      <TypeFullName>Beyondbit.SmartBox.Plugins.AppList.AppListPlugin</TypeFullName>
      <MainFileName>Beyondbit.SmartBox.Plugins.AppList.dll</MainFileName>
     <PluginDescription>插件描述</PluginDescription>
      <IsNeed>false</IsNeed>
      <FileHash></FileHash>
      <ActionCode>DemoAction</ActionCode>
      <ActionDescription>用于演示的Action</ActionDescription>   
      <Url></Url>
      <VersionCode> v1.5</VersionCode>
      <VersionDescription>版本更新说明1</VersionDescription>
      <Configs>
        <Config>
          <key>keyA</key>
          <value>value1</value>
        </Config>
        <Config>
          <key>keyB</key>
          <value>value2</value>
        </Config>
      </Configs>
    </Plugin>
    <Plugin>
      <Name>应用系统列表</Name>
      <PluginCode>PluginCodeB</PluginCode>
      <DirectoryName>test1Code</DirectoryName>
      <PluginCateCode>BackgroundServicePlugin</PluginCateCode>
      <TypeFullName>Beyondbit.SmartBox.Plugins.AppList.AppListPlugin</TypeFullName>
      <MainFileName>Beyondbit.SmartBox.Plugins.AppList.dll</MainFileName>
      <PluginDescription>插件描述</PluginDescription>
      <IsNeed>true</IsNeed>
      <FileHash></FileHash>
      <ActionCode>DemoAction</ActionCode>
      <ActionDescription>用于演示的Action</ActionDescription>
      <Url></Url>
      <VersionCode> v1.5</VersionCode>
      <VersionDescription>版本更新说明2</VersionDescription>
      <Configs>
        <Config>
          <key>key1</key>
          <value>value1</value>
        </Config>
        <Config>
          <key>key2</key>
          <value>value2</value>
        </Config>
      </Configs>
    </Plugin>
  </Plugins>   
</PluginInfo>