<?xml version="1.0" encoding="utf-8"?>
<Beyondbit.Framework.App> 
	<Remoting protocol="tcp" port="8086"/>
	<CacheManager assemblyName="Beyondbit.Framework" typeName="Beyondbit.Framework.Core.Cache.EntLiCache" expireDate="60" maximum="10"></CacheManager>
	<ConnectionManager name="DefaultConnectionManager"  assemblyName="Beyondbit.Framework"  typeName="Beyondbit.Framework.Core.Transaction.ConnectionManager"/>
	<InterceptorHandlers>
		<BeforeHandler SystemBeforeHandler="LogBeforeHandler">
			<HandlerClass name="LogBeforeHandler" assemblyName="Beyondbit.Framework" typeName="Beyondbit.Framework.Core.InterceptorHandler.DefaultBeforeHandler" methodNameLike=""/>
		</BeforeHandler>
		<AfterHandler SystemAfterHandler="LogAfterHandler">
			<HandlerClass name="LogAfterHandler" assemblyName="Beyondbit.Framework" typeName="Beyondbit.Framework.Core.InterceptorHandler.DefaultAfterHandler" methodNameLike=""/>
		</AfterHandler>
	</InterceptorHandlers>
  <Resources>
    <Resource name="DefaultResource" assemblyName="Beyondbit.Framework" typeName="Beyondbit.Framework.Biz.Resource.DefaultResource" />
  </Resources>
	<LogHandler name="DefaultLogHandler" assemblyName="Beyondbit.Framework" typeName="Beyondbit.Framework.Core.Log.DefaultLogHandler" msmqServer="." queueName="BeyondbitLogQueue">
	</LogHandler>
</Beyondbit.Framework.App>
