.bbit-usbox
{
    border: solid 1px #3C7FB1;		
	margin:0px;	
	display:block;
	background-color:#f3fefe;
}
.bbit-usbox .bbit-usbox-item
{
    width:auto;
    margin-left:4px;
    margin-top:2px;
    background-color:#e0e5ee;	
    border: solid 1px #ccd5e4;	
    float:left;   
    white-space : nowrap;
}
.bbit-usbox .bbit-usbox-item a
{
    color:#000; 
    text-decoration:none;
    padding-left:2px;
}
.bbit-usbox .bbit-usbox-item a span
{
  
}
.bbit-usbox .bbit-usbox-del
{
    background:url("images/usbox/del.gif") no-repeat 50% 80%;
    width:10px;
    height:5px;
    cursor:pointer;
    border:none;
    vertical-align:middle; 
    margin-left:2px;
}
.bbit-usbox-boxc 
{
  margin-left:4px;
  clear:left;
 
}

.bbit-usbox-box
{  max-height:42px; 
  overflow-y:auto;
  overflow-x:hidden;  
  padding:1px;	
}
.ie6 .bbit-usbox-box
{
   height:42px; 
}
.bbit-usbox-boxc  input
{
    background-color:#f3fefe;
    width:98%;
    height:17px !important;
    display:block;
    border:none;    
}