<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="<%=Url.Content("~/Themes/home/home.css") %>" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="Dscr">
            <div class="main_r_t">
                请选择维护功能ss</div>
            <div class="main_r_nr">
                <div class="main_r_nr01">
                    <div class="text01">
                        <h2>
                            添加应用ss</h2>
                        <p>
                            设置将在称为"设置"窗格的光取消弹出窗口中显示。该窗格在用户点击"设置"超级按钮时显示，并在点击窗格外其他位置时消失。有关将"设置"超级按钮用于你的应用设置的某些优势在于，你无需在你的应用的
                            UI</p>
                    </div>
                </div>
                <div class="main_r_nr01 main_r_nr02">
                    <div class="text01">
                        <h2>
                            更新应用</h2>
                        <p>
                            启动iTunes，切换到"应用程序"界面。在应用程序界面的右下角，有一个"检查更新"按钮，点击检查更新。</p>
                    </div>
                </div>
            </div>
            <div class="main_r_nr">
                <div class="main_r_nr01 main_r_nr03">
                    <div class="text01">
                        <h2>
                            编辑应用</h2>
                        <p>
                            设置将在称为"设置"窗格的光取消弹出窗口中显示。该窗格在用户点击"设置"超级按钮时显示，并在点击窗格外其他位置时消失。有关将"设置"超级按钮用于你的应用设置的某些优势在于，你无需在你的应用的
                            UI</p>
                    </div>
                </div>
                <div class="main_r_nr01 main_r_nr04">
                    <div class="text01">
                        <h2>
                            应用授权</h2>
                        <p>
                            启动iTunes，切换到"应用程序"界面。在应用程序界面的右下角，有一个"检查更新"按钮，点击检查更新。</p>
                    </div>
                </div>
            </div>
            </div>
</body>
</html>
